.il-xvid-card {
  margin-bottom: 40px;
  box-sizing: border-box;
  border-radius: 0px;
  background-clip: padding-box;
  background-color: white;
}
.il-xvid-card span.card-title {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
.il-xvid-card .il-xvid-card-image {
  border-radius: 0px 0px 0 0;
  position: relative;
  overflow: hidden;
  height: 120px;
  background-color: white;
  width: 100%;
}
.il-xvid-card .il-xvid-card-image img {
  position: relative;
  top: 50%;
  display: block;
  max-height: 120px;
  height: 120px;
  width: auto;
  max-width: 213.33333333px;
}
.il-xvid-card .il-xvid-card-image.wide {
  width: 100%;
  height: auto;
}
.il-xvid-card .il-xvid-card-image.tall {
  height: 100%;
  width: auto;
}
.il-xvid-card .il-xvid-card-content {
  padding-top: 10px;
  border-radius: 0 0 0px 0px;
  background-clip: padding-box;
  box-sizing: border-box;
  overflow-wrap: break-word;
}
.il-xvid-card .il-xvid-card-content p {
  margin: 0;
  color: inherit;
}
.il-xvid-card .il-xvid-card-content p.small {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}
.il-xvid-card .il-xvid-card-content p.overflow {
  overflow: visible;
}
.il-xvid-card .il-xvid-card-content p.il-xvid-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
}
.il-xvid-card .il-xvid-card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.il-xvid-card .il-xvid-card-action a {
  color: #FFAB40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.il-xvid-card .il-xvid-card-action a:hover {
  color: #FFD8A6;
  text-decoration: none;
}
